.article-1 {
    background-image: url("../img/ukraine-kids.jpg");
}

.article-2 {
    background-image: url("../img/breakfast.jpg");
}

.article-3 {
    background-image: url("../img/mardi-gras.jpg");
}

.article-4 {
    background-image: url("../img/thailand.jpg");
}

.article-5 {
    background-image: url("../img/coder.jpg");
}

.article-6 {
    background-image: url("../img/vanlife.jpg");
}

.article-7 {
    background-image: url("../img/seattle.jpg");
}

.article-8 {
    background-image: url("../img/gardening.jpg");
}

.article-9 {
    background-image: url("../img/shoes.jpg");
}

.article-10 {
    background-image: url("../img/barbell.jpg");
}

.article-11 {
    background-image: url("../img/python.jpg");
}

.article-12 {
    background-image: url("../img/rocks.jpg");
}

.article-13 {
    background-image: url("../img/mobo.jpg");
}

.article-14 {
    background-image: url("../img/mushrooms.jpg");
}

.article-15 {
    background-image: url("../img/books.jpg");
}

.article-16 {
    background-image: url("../img/oil.jpg");
}

.article-17 {
    background-image: url("../img/native-woman.jpg");
}

.article-18 {
    background-image: url("../img/tub.jpg");
}

.article-19 {
    background-image: url("../img/desk.jpg");
}

.article-20 {
    background-image: url("../img/tent.jpg");
}