.jumbotron {
    height: 70vh;
    background-image: url("../img/rocks.jpg");
    background-size: cover;
    /* Change background-postion depending on photo dimensions */
    background-position: bottom;
    background-attachment: fixed;
    max-width: 100%;
}

.article {
    flex-direction: column;
}

.article-title {
    text-align: center;
}

.date {
    text-align: center;
}

.article-body {
    font-family: 'Lato', Arial sans-serif;
}

.article-body p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;

}

.article-photo-section {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 15px;
    width: 300px;
}

.article-photo {
    width: 300px;

}

.avatar {
    margin-top: 75px;
    height: 150px;
    border-radius: 50%;
}

.author {
    padding-bottom: 75px;
}

.article-tiles {
    height: 250px;
    padding: 7%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-column-gap: 6px;
    grid-row-gap:6px;
    background: #B298DC;
}

.article-tiles a {
    display: flex;
    justify-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.article-tiles a:hover {
    transition: .5s ease;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.25);
    color: rgba(112, 228, 239, 1);
    text-overflow: clip;
    justify-content: center;
}

.article-tiles a:hover:after  {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1000000;
}

@media (max-width: 500px) {
    .article-body {
        padding: 5%;
    }

    article-photo-section {
        justify-content: center;
    }

    .author {
        justify-items: center;
    }
}

@media (min-width: 800px) {
    .article-body {
        padding: 15% 25%;
    }
}

@media screen and (max-device-width: 799px) {
    .article-body {
        padding: 5%;
    }

    .article-photo-section {
        float: right;
        margin-right: 0;
    }


    .avatar {
        height: 300px;
        border-radius: 50%;
    }

    .author {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .article-tiles {
        height: fit-content;
    }

    .article-tiles {
        display: flex;
        flex-direction: column;
        height: 2500px;
    }
    .article-tiles a {
        height: 350px;
    }
}
